config/serviceAccountKey.json
# Firebase private keys
backend/config/serviceAccountKey1.json
backend/services/firebaseServiceAccount.json
backend/config/services/firebaseServiceAccount.json
backend/firestore-setup/serviceAccountKey.json
backend/controllers/